  
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

@-ms-viewport{
    width: device-width;
}
body {
    background-image: url('../Images/coffee.jpg');
    font-family: 'Nunito Sans', sans-serif !important;
    color: black;
    text-decoration: none;
    margin: 0;
}
.document {
    margin-left: 20rem;
}